@{
    ViewData["Title"] = "Home Page";
}

<div id="contain">
    <div id="index-div-1">
        <h1>Imgsh.</h1>
        <hr />
        <h4>Images to share with everyone</h4>
        <hr />
        <p>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" href="/Upload/" role="button">Upload</a>
            }
            else
            {
                <a class="btn btn-success" href="/Account/Login" role="button">Log in</a>
            }            
        </p>
    </div>
</div>
